<script src="../../javascript/plugins/graph"></script>

<div class="navbar fixed-top navbar-expand-sm navbar-light navbar-lewagon" id="topo-header">
  <div class="topo-name"> <%# FYI Class not used %>
    <%= "#{@topo.river.name.capitalize} - #{@topo.name.capitalize}"  %>
  </div>

  <div>
    <%= link_to toggle_favorite_topo_path(@topo), method: :post do %>
      <svg id="favorite-icon" class="<%= 'fav-active' if @favorite %>" width="35" height="32" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z" />
      </svg>
    <% end %>
  </div>
</div>

<div class="container topo">
  <% if @topo.has_alert? %>
    <div class="alert-banner">
      <div id='alert-title'>
        <div>
          <i class="fas fa-exclamation-triangle"></i>
          <span><%= "#{"Alerte".pluralize(@alerts_count)} (#{@alerts_count})"%></span>
        </div>
        <i class="fas fa-chevron-down"></i>
      </div>
      <div class="alert-content">
        <% @comments.each do |comment| %>
          <% if comment.active %>
            <div class='alert-message'>
              <div class="alert-type">
                <h4>Type</h4>
                <span><%= comment.alert_type %></span>
              </div>
              <div class="alert-type">
                <h4>Praticable</h4>
                <span><%= comment.severity == 'Praticable' ? 'Oui' : 'Non' %></span>
              </div>
              <p><%= comment.description %></p>
              <h5>Posté le <%= comment.updated_at.strftime("%d") %>/<%= comment.updated_at.strftime("%m") %>/<%= comment.updated_at.year %> à <%= comment.updated_at.hour %>h<%= comment.updated_at.min %></h5>
              <div class='alert-status'>
                <h5>Danger toujours présent?</h5>
                <div>
                  <%= link_to 'oui', root_path, class: 'btn-red' %>
                  <%= link_to 'non', topo_comment_path(@topo, comment), method: :patch ,class: 'btn-yellow' %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= link_to 'Add a comment', new_topo_comment_path(@topo)%>

  <div id="key-info">
    <div class='key-text'>
      <h4>Difficulté</h4>
      <span><%= @topo.find_level.count > 1 ? "#{@topo.find_level[0]} - #{@topo.find_level[1]}" : "#{@topo.find_level[0]}" %></span>
      <h4>Longueur</h4>
      <span><%= "#{@topo.length}" %></span>
      <h4>Départ</h4>
      <span><%= @departure.name.capitalize %></span>
      <h4>Arrivée</h4>
      <span><%= @arrival.name.capitalize %></span>
    </div>
  </div>

  <div id="water-info">
        <%# <%= line_chart @data, %>
      <%= line_chart river_data_topo_path(@topo),
          id:"water-graph",
          width: "100%", height: "100%",
          ytitle: "Vol. d'eau (m3)", xtitle: "Date",
          style: "display:"
          legend: true,
          points: false,
          loading: "Chargement en cours... 🚣‍♀️ 🎣 ",
          empty: "Aucune donnée disponible 😱"
          %>
    <div id="water-temp">
      <h3>2°</h3>
    </div>
  </div>

</div>
