<div class="navbar fixed-bottom navbar-expand-sm navbar-light navbar-lewagon">

  <%= link_to root_path class: "nav-link" do %>
    <%= image_tag "navbar/home.svg" %>
  <% end %>

  <%= link_to root_path class: "nav-link" do %>  <%# mettre map_path quand créée %>
    <%= image_tag "navbar/map.svg" %>
  <% end %>

  <%= link_to favorites_path class: "nav-link" do %>
    <%= image_tag "navbar/favorites.svg" %>
  <% end %>

  <%= link_to root_path class: "nav-link" do %> <%# mettre user_map  quand créée%>
    <%= image_tag "navbar/profile.svg" %>
  <% end %>

</div>
