  <div class="card-container">
    <% topos.each do |topo| %>
      <%= link_to topo_path(topo), class: 'card-product' do %>
      <% 
        client_id = "_VHzHxfpY4G4UfEfQsg42fp3LdvNko_8IZPFDL9_O9I"
        query = "kayak"
        base_url = "https://api.unsplash.com/photos/random"
      %>
        <%= image_tag "#{base_url}/?client_id=#{client_id}&query=#{query}" %>
        <div class='card-infos'>
          <div class='infos-name'>
            <div class='naming-div'>
              <h4><%= "#{topo.river.name.capitalize} #{topo.name.capitalize}" %></h4>
              <h4 class='topo-level'><%= topo.find_level.count > 1 ? "#{topo.find_level[0]} - #{topo.find_level[1]}" : "#{topo.find_level[0]}" %></h4>
            </div>
          </div>
          <div class='country-div'>
            <i><svg xmlns="http://www.w3.org/2000/svg" width="27" height="18"><rect width="27" height="18" fill="#ED2939"/><rect width="18" height="18" fill="#fff"/><rect width="9" height="18" fill="#002395"/></svg></i>
            <p><%= topo.river.department %></p>
          </div>
          <div class="alert-div">
            <div class="alert-icons">
              <% if topo.has_alert? %>
                <div class="alert-level <%= topo.has_severity_2_alert? ? 'severity2' : '' %>"><i class="fas fa-exclamation-triangle"></i></div>
              <% end %>
              <% if topo.river.safe? %>
                <div class='safe'><i class="fas fa-check"></i></div>
              <% else %>
                <div class='unsafe'><i class="fas fa-times"></i></div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
